.navbar-text {
    font-family: "Century Gothic", "Avant Garde Gothic", "Avant Garde", "URW Gothic L", helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-left: 5px;
}

.pageTitle {
    font-family: "Century Gothic", "Avant Garde Gothic", "Avant Garde", "URW Gothic L", helvetica, sans-serif;
    font-size: 40px;
    /*font-weight: 100;*/
    padding-right: 10px;
    padding-left: 1px;
    /*padding-top: 0px;*/
    padding-bottom: 10px;
}

/*#blackNavBar {
    margin-bottom: 5px;
}*/

body {
    padding-right: 20px;
    padding-left: 20px;
}

.count {
    padding-right: 8px;
    padding-left: 10px;
}

.panel-title {
    font-size: 23px;
    margin: 5px;
    margin-right: 7px;
}

.panel-heading {

}

.panel-body {
    background-color: rgb(187, 203, 219);
}

#deleteTopic, #editTopic {
    color: rgb(97, 162, 178);
    background: none;
    border: none;
    box-shadow: none;
    margin-top: 5px;
}


.card-text {
    font-size: 16px;
    border: 2px;
    padding: 2px;
    margin: 2px;
    text-align: center;
}

.card-img-top {
    height: 100%;
    width: 100%;
    border: 5px;
    padding: 5px;
    margin: auto;
}

.navbar-nav {
    font-weight: bold;
    font-size: 15px;
}

th{
  text-align: center;
}

.table {
    font-size: 16px;
    text-align: center;
}

.wrap {
    width: 100%;
}

.login-form{
    margin: auto;
    width: 50%;
}

.forgot-password-link{
    float: right;
    margin-top: 15px;
}

.forgot-password-form{
    margin: auto;
    width: 50%;
}
